/* CSS Document */
body{ font-family:'微软雅黑'; font-size:12px; line-height:160%; margin:0; padding:0;}
a{ color:#000; text-decoration:none;}
img{ border:0;}
ul,dl{ margin:0; padding:0; list-style:none;}
dl dt,dl dd{ float:left; margin:0; padding:0}
h2,h3,h4{ margin:0;}
h2{ font-size:1.5em}
h3{ font-size:1.2em;}
h4{ font-size:1.1em;}
table{ width:100%;}
td{ padding:8px 0;}

input[type=text],input[type=password] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #030303;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff; 
padding-left:2px;
background-position: 10px 6px;
margin: 0;
}
input[type=file]{
  height:20px;
}
input.key{border-radius: 12px; padding:1px 10px;}
input[type=text]:focus,input[type=password]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

select {
border: 1px solid #bbb;
height: 20px;
color: #030303;
height:24px;
line-height:24px;
}

textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #030303;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
padding-top:8px;
background-position: 10px 6px;
display: block;
float: left;
}

textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/*默认设置英文版权不显示*/
.en{ display:none}
/*弹出图片窗口*/
#popImageLayer{ visibility:hidden; width:267px; height:260px; cursor:hand; position:absolute; text-align:center; background-image:url(../../AdminImg/bbg.gif); z-index: 100000;}

.left{ float:left; width:250px;}
.right{ margin-left:250px;}
/*头部*/
.header{ background:#222 url(../../AdminImg/header_bg.png) repeat-x; height:55px; color:#fff;}
.header h2{ line-height:55px; text-align:center; background:url(../../AdminImg/logo.png) no-repeat 8px center; text-indent:2em;}
.header .right{ background:url(../../AdminImg/header_shadow.png) no-repeat; padding-left:20px; height:55px;}
.header .right a{ color:#fff; line-height:28px; margin:13px 10px 0

 10px; display:block; background:url(../../AdminImg/btn_view_site.png) no-repeat; width:91px; text-align:center; float:left; height:27px;}
.header .right a:hover{ background:url(../../AdminImg/btn_view_site.png) no-repeat left -27px;}
.header .right .admininfo{ float:right; padding-right:10px; margin:18px; line-height:normal; position:relative; font-size:14px; cursor:pointer; background:url(../../AdminImg/arrow_down.png) no-repeat right center;}

.header .right .admininfo #drag{ position:absolute; width:120px; background:#232323; height:60px; padding:6px 0; top:41px; right:10px; border-radius:6px; display:none;-webkit-box-shadow: #666 0px 0px 10px; -moz-box-shadow: #666 0px 0px 10px; box-shadow: #666 0px 0px 10px;}
.header .right .admininfo #drag i{ position:absolute; display:block; width:12px; height:9px; background:url(../../AdminImg/arrow_up.png) no-repeat; right:10px; top:-8px;}
.header .right .admininfo #drag a{ background:none; margin:0; width:auto; height:auto; display:block; float:none; line-height:30px; font-size:12px; text-align:left; text-indent:3.6em;}
.header .right .admininfo #drag .logout{ background:url(../../AdminImg/logout.png) no-repeat 24px center;}
.header .right .admininfo #drag a:hover{ background-color:#515151} 

.header .right .admininfo #drag .modpw{background:url(../../AdminImg/lock.png) no-repeat 24px center;}


/*主体部分，左边*/
.main .left{ color:#666; text-shadow:0 1px 0 white;}
.main .left .nav{ background:#F1F1F4 url(../../AdminImg/secondary_bar.png) repeat-x left 1px; height:34px; margin-bottom:8px}
.main .left .nav h4{ color:#666; text-shadow:0 1px 0 white; text-indent:2em; line-height:34px;}
.main .left .part{ padding-left:25px;}
.main .left .part img{ vertical-align:-2px}
.main .left .part h3{ color:#2D2D2D; line-height:26px; background:url(../../AdminImg/icn_folder.png) no-repeat; background-repeat:no-repeat; text-indent:20px; background-position:0px center}
.main .left .part h3 .toggleLink{ display:block; float:right; font-weight:normal; font-size:12px; text-indent:0; margin-right:20px; color:#666;}
.main .left .part h3 .toggleLink:hover{ color:#77bace}
.main .left .part ul li{ text-indent:40px; padding:4px 0; background:url(../../AdminImg/icn_tags.png) no-repeat; background-repeat:no-repeat; background-position:20px center}
.main .left .part ul li a:hover{ text-decoration:underline;}
.main .left .part ul li.adminlist{ background-image:url(../../AdminImg/icn_view_users.png);}
.main .left .part ul li.adminadd{ background-image:url(../../AdminImg/icn_add_user.png);}
.main .left .part ul li.setting{ background-image:url(../../AdminImg/icn_settings.png);}
.main .left .part ul li.mess{ background-image:url(../../AdminImg/icn_mess.png);}
/*分隔线*/
.main .left hr{ background:url(../../AdminImg/sidebar_divider.png); height:2px; border:none; outline:none; width:100%;}


/*当前位置*/
.location{ background:url(../../AdminImg/secondary_bar.png) repeat-x;color:#2D2D2D; text-shadow:0 1px 0 white;}
.location div{ background:url(../../AdminImg/secondary_bar_shadow.png) no-repeat; height:34px; overflow:hidden; padding-left:10px;}
.location div dl{ float:left; border:1px solid #ccc; border-radius:5px; line-height:24px; height:23px; overflow:hidden; margin:4px 0;}
.location div dl dt{ padding:0 10px;}
.location div dl dd{ background:url(../../AdminImg/breadcrumb_divider.png) no-repeat; width:12px; height:24px;}

/*容器，块*/
.holder{ border:1px solid #cfd3dd; border-radius:6px; margin:10px; background:#f4f6f7}
.holder table th{ background:url(../../AdminImg/table_sorter_header.png); height:34px; line-height:34px;}
.holder table td{ padding:6px 0; border-bottom:1px dotted #ccc;}
.holder table.list td{ text-align:center; padding:4px 0;}
.holder table.list th.text{ text-align:left; padding-left:4px;}
.holder table.edit th.text{ text-align:left; padding-left:4px;}
.holder table.list td.text{ text-align:left; padding-left:4px;}
.holder a{ color:#008000}
.holder a:hover{ color:#0080FF}
.order{ width:30px;}
.holder table td .num{ width:30px;}
.holder table td.title a{ color:blue}
.holder table td.enter a{ color:red;}
.holder table td.enter a:hover{ text-decoration:underline}
/*.holder table tr:last-child td{ border:none}*/
.holder table a img{ margin-right:8px;}
.holder table .trhover{ background:#e3e8eb}
.holder table .trclick{ background:#eae2b4}

.proholder{border-radius:0px 6px 6px 6px; margin-top:0;}

.support{ margin:10px; text-align:center; font-size:40px; font-weight:bold; color:#f4f4f4;  text-shadow:0 1px 0 #EEE; padding:100px 0; line-height:140%;text-shadow:0 1px 0 #dededf}
.support i{ font-style:normal; color:#DFDFDF;text-shadow:0 1px 0 #b6b0b0}
.support a{font-size:30px; color:#f4f4f4; text-shadow:0 1px 0 #dcdbdb; font-weight:bold}
.support a:hover{color:#e8e8e8; text-shadow:0 1px 0 #d2d0d0;}

/*内页菜单:管理首页，和添加按钮*/
.menu{ background:#b5e5ef; border:1px solid #77bace; border-radius:6px; margin:10px; padding:8px; overflow:hidden;}
.menu span{ display:block; float:left; background:#f0f1f4 url(../../AdminImg/table_sorter_header.png) repeat-x; border:1px solid #9ba0af; border-radius:4px; padding:4px 6px;text-shadow:0 1px 0 white; margin-right:8px;}
.menu a{ display:block;}
.home{ background:url(../../AdminImg/home.png) no-repeat left 1px; text-indent:1.6em;}
.add{ background:url(../../AdminImg/add.png) no-repeat left 2px; text-indent:1.6em;}
/*搜索*/
.search{ background:#f5f3ba; border:1px solid #c7a20d; border-radius:6px;margin:10px;}
.search table td{ border:none; padding:8px 6px;}
/*菜单增加*/
.menuadd{ background:#d8e6f2; border:1px solid #719fbe; border-radius:6px; margin:10px;}
.menuadd table td{ border:none; padding:8px 0px; text-align:center}
.menuadd table td.text{ text-align:left; padding-left:4px;}
/*底部的操作功能，删除，排序*/
.operation{ background:#e2f6c5; border:1px solid #79c20d; border-radius:5px; margin:10px; padding:8px; color:#32510f}
.operation a{ color:}
.pro_nav{ margin:10px 10px 0 10px;}
.pro_nav ul{ overflow:hidden;}
.pro_nav ul li{ font-weight:bold; font-size:14px; float:left; margin-right:10px; background:url(../../AdminImg/secondary_bar.png) repeat-x; line-height:32px; padding:0 10px; border:1px solid #D5D5D5; border-bottom:none; border-radius: 5px 5px 0 0; cursor:pointer}
.pro_nav ul li.cur{ background:url(../../AdminImg/secondary_bar_cur.png) repeat-x;}
/*按钮样式，通用*/
.btn{ background:#f0f1f4 url(../../AdminImg/table_sorter_header.png) repeat-x; border:1px solid #9ba0af; border-radius:4px; padding:4px 8px;text-shadow:0 1px 0 white;}
/*标识，红色*/
.blue{ color:blue;}
.red{ color:red;}
.green{ color:green}

/*上传图片框架*/
.uploadframe{ margin-top:4px; height:26px; width:300px; overflow:hidden; border:none}

/*消息提示*/
.msg{ width:350px; margin:50px auto 0;border:1px solid #bcbcbc; border-radius:5px; line-height:20px; font-size:12px;-webkit-box-shadow: #999 0px 0px 10px;-moz-box-shadow: #999 0px 0px 10px;box-shadow: #999 0px 0px 10px;}
.msg .content{ background:#f1f3f4;margin:1px; padding-bottom:20px; text-align:center}
.msg h3{ background:url(../../AdminImg/secondary_bar.png) repeat-x; height:38px; margin:0; text-align:left; text-indent:1em; line-height:30px; margin-bottom:20px;}
.msg p{ text-shadow:0 1px 0 white; font-size:14px; color:#000}
.msg a{ color:#2e83cc;text-decoration:none; font-size:12px}
.msg a:hover{text-decoration:underline;}

.addBtn{ position:absolute; margin-left:300px; margin-top:5px;}
.addBtn #addImg{ background:#fff url(../../AdminImg/icn_add.png) no-repeat 4px center; border:1px solid #D5D5D5; padding:3px 5px; cursor:pointer; border-radius:4px; text-indent:1.2em; text-shadow:0 1px 0 white;}
.imageList{ margin:0; padding:0}
.imageList li{ list-style:none; height:24px; width:360px; overflow:hidden; padding-bottom:8px; border-bottom:1px dotted #cfd3dd;}
.imageList li div{ float:right; margin-right:4px; padding-top:5px;}
.imageList li div input{ background:#fff url(../../AdminImg/icn_del.png) no-repeat 4px center; border:1px solid #D5D5D5; padding:3px 5px; cursor:pointer; border-radius:4px; text-indent:1.2em; text-shadow:0 1px 0 white;}

/*权限*/
.quanxian li span{ display:inline-block; width:100px;}
.quanxian li label{ padding-right:20px;}
.functionlist{ width:auto;}
.funlist li{ float:left; width:80px;}

/*试题选项*/
.optionlist li{ padding:4px 0;}
.option li{ float:left; padding-right:10px;}
.number{ width:50px;}
.radiolist li{ float:left; width:100px;}

/*进入试卷*/
em.folder{ display:inline-block; background:url(../../AdminImg/folder.png) no-repeat center bottom; width:16px; height:20px; background-size:100%; margin-right:6px;}
em.exam{ display:inline-block; background:url(../../AdminImg/exam.png) no-repeat center bottom; width:13px; height:20px;background-size:100%; margin-right:10px; vertical-align:bottom}
span.done{ display:block; width:25px; height:18px; background:url(../../AdminImg/done.png) no-repeat center; margin:0 auto}
span.undo{ display:block; width:25px; height:18px; background:url(../../AdminImg/undo.png) no-repeat center; margin:0 auto}

.exam_type_list li{ float:left; margin-right:20px;}

.etype_list li{ float:left; }
.etype_list li a{ display:block; width:200px; height:160px; text-align:center; line-height:160px; border:1px solid #77BACE; border-radius:8px; margin:10px; font-size:30px;}
.etype_list li a:hover,.etype_list li a.cur{ background:#77BACE; color:#fff;}